<section class="video-section intro_section page_videoslider ls">
  <div class="flexslider">
    <ul class="slides">
      <li *ngFor="let item of data">
        <img [src]="item.imgUrl" alt="">
        <div class="slide-media" [style.background-image]="backgroundImgUrl(item.imgUrl)"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="slide_description_wrapper">
                <div class="slide_description">
                  <div class="intro-layer" data-animation="slideExpandUp">
                    <p class="small-text margin_0" [innerHtml]="item.question"></p>
                    <h2 class="topmargin_10 bottommargin_25" [innerHtml]="item.slogan"></h2>
                    <p [innerHtml]="item.desc"></p>
                  </div>
                  <div class="intro-layer video-container" data-animation="slideExpandUp">
                    <div class="embed-responsive">
                      <a [href]="item.videoUrl" class="embed-placeholder">
                        <img [src]="item.videoImgUrl" alt="">
                      </a>
                    </div>
                    <!-- <iframe width="1000" height="460" src="https://www.youtube.com/embed/fJ77KvrFO00" allowfullscreen></iframe> -->
                  </div>
                </div>
                <!-- eof .slide_description -->
              </div>
              <!-- eof .slide_description_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container -->
      </li>
    </ul>
  </div>
  <!-- eof flexslider -->
</section>