.video-section {
    .slide-media {
        height: 400px !important;
    }

    .slide_description{
        p, h2{
            color: #3C3C3A;
            text-shadow: 1px 1px #ccc;
        }
    }

}
