
<app-breadcrumbs [navItems]="[
  { title: 'Home', routeUrl: '/' },
  { title: 'Services' },
  { title: 'Comercial' },
  { title: 'Grounds Keeping', active: true }]">
</app-breadcrumbs>

<section class="ls ms section_padding_40">
    <div class="container">
     <div class="row">
        <div class="col-md-12">
            <h2 [innerHTML]="'commercial.groundsKeeping.title' | translate"></h2>
            <p> <a [routerLink]="['/contactus/get-quote', 4]" class="theme_button color1 topmargin_15">get quote now</a></p>
        </div>
     </div>
      <div class="row">
          <div class="col-md-3 service-photo"><img src="assets/images/services/office-cleaning.jpg"/></div>
          <p class="col-md-9" [innerHTML]="'commercial.groundsKeeping.desc' | translate"></p>
      </div>
    </div>
</section>
