<section class="ls services section_padding_45">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="small-text margin_0">your preferred cleaning service company</p>
        <h2 class="topmargin_10">
    Offering high quality cleaning services<br>
    <strong class="medium">at affordable prices</strong>
  </h2>
      </div>
    </div>
    <div class="row topmargin_10">
      <div class="col-md-3">
        <div class="media">
          <div class="media-left">
            <img class="media-object round" src="assets/images/service01.jpg" alt="">
          </div>
          <div class="media-body">
            <h5 class="text-uppercase inline-block darklinks normal_spacing"><a href="#"><strong>Window</strong><br> Cleaning</a></h5>
            <a href="#" class="round_button pull-right">
              <i class="rt-icon2-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object round" src="assets/images/service02.jpg" alt="">
          </div>
          <div class="media-body">
            <h5 class="text-uppercase inline-block darklinks normal_spacing"><a href="#"><strong>Maid</strong><br> Services</a></h5>
            <a href="#" class="round_button pull-right">
              <i class="rt-icon2-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object round" src="assets/images/service03.jpg" alt="">
          </div>
          <div class="media-body">
            <h5 class="text-uppercase inline-block darklinks normal_spacing"><a href="#"><strong>Domestic</strong><br> Cleaning</a></h5>
            <a href="#" class="round_button pull-right">
              <i class="rt-icon2-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center center_bg" style="background-image: url(assets/images/service-bg.png);">
        <img src="assets/images/service-image.png" alt="">
      </div>
      <div class="col-md-3">
        <div class="media">
          <div class="media-left">
            <img class="media-object round" src="assets/images/service04.jpg" alt="">
          </div>
          <div class="media-body">
            <h5 class="text-uppercase inline-block darklinks normal_spacing"><a href="#"><strong>Office</strong><br> Cleaning</a></h5>
            <a href="#" class="round_button pull-right">
              <i class="rt-icon2-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object round" src="assets/images/service05.jpg" alt="">
          </div>
          <div class="media-body">
            <h5 class="text-uppercase inline-block darklinks normal_spacing"><a href="#"><strong>Pest</strong><br> Control</a></h5>
            <a href="#" class="round_button pull-right">
              <i class="rt-icon2-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object round" src="assets/images/service06.jpg" alt="">
          </div>
          <div class="media-body">
            <h5 class="text-uppercase inline-block darklinks normal_spacing"><a href="#"><strong>Carpet</strong><br> Cleaning</a></h5>
            <a href="#" class="round_button pull-right">
              <i class="rt-icon2-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>