<section class="ds solutions columns_padding_0 teasers-table">
  <div class="container">
    <div class="row">
      <div class="col-md-4 center_bg users-teaser">
        <div class="teaser media">
          <div class="media-left">
            <div class="teaser_icon sprite-icons sprite-users-yellow">
            </div>
          </div>
          <div class="media-body">
            <p class="margin_0 small-text grey"><strong>Highly-trained staff</strong></p>
            <p class="margin_0">We suppervise our employees and provide the support they need to do thier job better. We truly believe that a well trained employee delivers the best results</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 center_bg like-teaser">
        <div class="teaser media with_border">
          <div class="media-left">
            <div class="teaser_icon sprite-icons sprite-like-green">
            </div>
          </div>
          <div class="media-body">
            <p class="margin_0 small-text grey"><strong>Quality cleaning tools</strong></p>
            <p class="margin_0">Doloremque laudantium, totam aperiam eaque ipsa, quae abillo</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 center_bg timer-teaser">
        <div class="teaser media">
          <div class="media-left">
            <div class="teaser_icon sprite-icons sprite-timer-blue">
            </div>
          </div>
          <div class="media-body">
            <p class="margin_0 small-text grey"><strong>Fast &amp; Effective service</strong></p>
            <p class="margin_0">Voluptatem accusantium doloremque laudantium totam </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>