<section class="ds solutions columns_padding_0 teasers-table">
  <div class="container">
    <div class="row">
      <div class="col-md-4 center_bg users-teaser">
        <div class="teaser media">
          <div class="media-left">
            <div class="teaser_icon sprite-icons sprite-users-yellow">
            </div>
          </div>
          <div class="media-body">
            <p class="margin_0 small-text grey"><strong>Highly-trained staff</strong></p>
            <p class="margin_0">We suppervise our employees and provide the support they need to do thier job better. We truly believe that a well trained employee delivers the best results</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 center_bg like-teaser">
        <div class="teaser media with_border">
          <div class="media-left">
            <div class="teaser_icon sprite-icons sprite-like-green">
            </div>
          </div>
          <div class="media-body">
            <p class="margin_0 small-text grey"><strong>Quality cleaning tools</strong></p>
            <ul>
                <li>100% Satisfaction Guaranteed</li>
                <li>Bonded & Insured Cleaning Professionals</li>
                <li>Green Cleaning To Keep Your Environment Safe</li>
                <li>We Give Back to Our Local Communities</li>
                <!-- <li>Nationally Recognized and Award Winning</li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 center_bg timer-teaser">
        <div class="teaser media">
          <div class="media-left">
            <div class="teaser_icon sprite-icons sprite-timer-blue">
            </div>
          </div>
          <div class="media-body">
            <p class="margin_0 small-text grey"><strong>Prompt &amp; Periodical service </strong></p>
            <ul>
                <li>Weekly Cleaning</li>
                <li>Bi-Weekly Cleaning</li>
                <li>Tri-Weekly Cleaning</li>
                <li>Quarter Weekly Cleaning</li>
                <li>Montly Cleaning</li>
                <li>One Time Cleans</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>