<header class="page_header header_white floating_logo table_section">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-6 nowrap">
        <div class="display_table">
          <a [routerLink]="['/']" class="logo logo_image display_table_cell">
            <img src="assets/images/logo.png" alt="">
          </a>
        </div>
      </div>

      <div class="col-md-8 text-center">
         <app-navigation></app-navigation>
      </div>
      <div class="col-md-2 col-xs-6 text-right">
        <a [routerLink]="['/contactus']" class="quote_button theme_button color3 muted_button">{{ 'header.quote' | translate }}</a>
        <!-- <div class="lang-selector">
            <a *ngIf="lang === 'es'" class="lang-item" (click)="changeLanguage('en')">
                <span>English</span>
                <img src="assets/images/en.gif" alt="en" title="English">
            </a>
            <a *ngIf="lang === 'en'" class="lang-item" (click)="changeLanguage('es')">
                <span>Spanish</span>
                <img src="assets/images/es.gif" alt="es" title="Spanish">
            </a>
        </div> -->
      </div>
    </div>
  </div>
</header>
