
.page_header {
    a.logo {
        width: 200px;
    }

    &.affix{
        a.logo {
            width: 150px;
        }
    }

    .schedule_button{
        float: left;
        padding: 15px;
    }

    .lang-selector{
       float: right;
       margin: 5px;
      

         .lang-item {                
             cursor: pointer;
             padding: 5px;
        
              span{
                  color: black;
                  font-size: 12px;
                  padding-right: 5px;
              }

              img {
                 width: 24px;
             }                
         }
     }

}

@media (max-width: 767px){
    .page_header {
        .lang-selector{
            margin-top: 20px;
            margin-right: 65px;
        }
    }
}
