<section class="problems ls ms section_padding_60 table_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <p class="small-text margin_0">top rated by clients</p>
        <h2 class="topmargin_10 bottommargin_25">
          {{ 'home.need_cleaning.title' | translate }}<br><strong>{{ 'home.need_cleaning.stay_in_touch' | translate }}</strong>
        </h2>
        <p>
            {{ 'home.need_cleaning.desc' | translate }}
        </p>
        <!-- <a href="#" class="theme_button topmargin_10">View details</a> -->
      </div>
      <div class="col-lg-7 col-md-6 text-center before_cover">
        <img src="assets/images/cleaning-crew.jpg" alt="">
      </div>
    </div>
  </div>
</section>