<section class="ls ms testimonials-section section_padding_45">

  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-sm-12 text-center">
        <p class="small-text margin_0">Our Team</p>
        <h2 class="topmargin_10 bottommargin_25" [innerHTML]="'home.team.title' | translate">
        </h2>
        <p [innerHTML]="'home.team.desc' | translate">
        </p>
      </div>
    </div>

    <div class="row columns_padding_0">
      <div class="col-sm-12">
        <div class="owl-carousel team-owl-carousel" data-margin="30" data-nav="true" data-items="8"
          data-responsive-xlg="3" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="2"
          data-responsive-xs="1">

          <div *ngFor="let item of data" class="vertical-item text-center">
              <blockquote class="quote-item">
                <div class="quote-body with_border section_bg_color" [ngClass]="item.color">
                  <div class="top-color-border">
                    <div></div>
                  </div>
                  <p class="grey">
                    "{{item.quote}}"
                  </p>
                  <div class="bottom-arrow with_border section_bg_color"></div>
                </div>
  
                <img [src]="item.photoUrl" alt="" class="media-object">
                <div class="blockquote-meta">
                  <h5>{{item.firstName}} {{item.lastName}}</h5>
                  <span class="small-text">{{item.title}}</span>
                </div>
              </blockquote>
          </div>

        </div>
        <!-- .owl-carousel -->
      </div>
    </div>

  </div>
</section>

