
<app-breadcrumbs [navItems]="[
{ title: 'Home', routeUrl: '/' },
{ title: 'Services' },
{ title: 'Our Services' },
{ title: 'Trash Removal', active: true }]">
</app-breadcrumbs>

<section class="ls ms section_padding_40 table_section">
  <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 [innerHTML]="'trash_removal.title' | translate"></h2>
                <p> <a [routerLink]="['/contactus/get-quote', 5]" class="theme_button color1 topmargin_15">get quote now</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 service-photo"><img src="assets/images/services/move-cleaning-content.jpeg"/></div>
            <p class="col-md-9" [innerHTML]="'trash_removal.desc' | translate"></p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 [innerHTML]="'trash_removal.desc_header' | translate"></h4>
            <p [innerHTML]="'trash_removal.desc_p1' | translate"></p>
            <div [innerHTML]="'trash_removal.services_list' | translate"></div>
          </div>
      </div>
  </div>
