<div class="preloader">
  <div class="preloader_image"></div>
</div>
<!--[if lt IE 9]>
  <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
<![endif]-->

<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
  <div class="widget widget_search">
    <form method="get" class="searchform form-inline" action="/">
      <div class="form-group">
        <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
      </div>
      <button type="submit" class="theme_button">Search</button>
    </form>
  </div>
</div>

<div id="canvas">
  <div id="box_wrapper">

    <app-header></app-header>

    <router-outlet></router-outlet>

    <app-footer></app-footer>

  </div>
</div>

