<div class="preloader">
  <div class="preloader_image"></div>
</div>
<!--[if lt IE 9]>
  <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
<![endif]-->

<app-search-modal></app-search-modal>

<div id="canvas">
  <div id="box_wrapper">

    <app-header></app-header>

    <app-intro></app-intro>

    <app-contact></app-contact>

    <router-outlet></router-outlet>

    <app-footer></app-footer>

  </div>
</div>

