<app-breadcrumbs [navItems]="[
  { title: 'Home', routeUrl: '/' },
  { title: 'Services' },
  { title: 'Residential' },
  { title: 'House Cleaning', active: true }]">
</app-breadcrumbs>

<section class="ls ms section_padding_40 table_section">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2 [innerHTML]="'residential.house.title' | translate"></h2>
            <p> <a [routerLink]="['/contactus/get-quote', 5]" class="theme_button color1 topmargin_15">get quote now</a></p>
        </div>
      </div>
      <div class="row">
         <div class="col-md-3 service-photo"><img src="assets/images/services/house-cleaning.jpeg"/></div>
         <div class="col-md-9">
            <p [innerHTML]="'residential.house.desc' | translate"></p>
         </div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-12">
              <p [innerHTML]="'residential.house.desc2' | translate"></p>
              <h4 [innerHTML]="'residential.house.services_header' | translate"></h4>
              <p [innerHTML]="'residential.house.services_desc_p1' | translate"></p>
              <p [innerHTML]="'residential.house.services_desc_p2' | translate"></p>
              <p [innerHTML]="'residential.house.services_desc_p3' | translate"></p>
              <p [innerHTML]="'residential.house.services_desc_p4' | translate"></p>
          </div>
      </div>
      
      
  </div>
</section>
