<section class="ls gallery-section">
  <div class="container-fluid">
    <div class="row columns_padding_0">
      <div class="col-sm-12">
        <div class="owl-carousel" data-margin="0" data-nav="true" data-items="7" data-responsive-xlg="7" data-responsive-lg="6" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="1">

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/01.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/01.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/02.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/02.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/03.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/03.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/04.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/04.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/05.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/05.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/06.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/06.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/07.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/07.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/08.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/08.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/09.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/09.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/10.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/10.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/11.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/11.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>

          <div class="vertical-item">
            <div class="item-media">
              <img src="assets/images/gallery/12.jpg" alt="">
              <div class="media-links">
                <div class="links-wrap">
                  <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="assets/images/gallery/12.jpg"></a>
                </div>
                <a class="abs-link" href="gallery-single.html"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>