<section class="ls services section_padding_45">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="small-text margin_0">your preferred cleaning service company</p>
        <h2 class="topmargin_10">
    Offering high quality cleaning services<br>
    <strong class="medium">at affordable prices</strong>
  </h2>
      </div>
    </div>
    <div class="row topmargin_10">
      <div *ngFor="let item of data" class="col-md-3">
        <div class="media">
          <div class="media-left">
            <img class="media-object round" [src]="item.imgUrl" alt="">
          </div>
          <div class="media-body">
            <h5 class="text-uppercase inline-block darklinks normal_spacing"><a [href]="item.descUrl" [innerHtml]="item.name"></a></h5>
            <a href="#" class="round_button pull-right">
              <i class="rt-icon2-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>