<section class="problems ls ms section_padding_60 table_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <p class="small-text margin_0">top rated by clients</p>
        <h2 class="topmargin_10 bottommargin_25">
    Have a cleaning related problem?<br>
    <strong>Stay in touch!</strong>
  </h2>
        <p>
          Quisque ut dolor gravida, placerat libero vel, euismod. Ut enim ad minim veniam, quis nostrud exercitation. Quam temere in vitiis, legem sancimus haerentia. Pellentesque habitant morbi tristique senectus et netus.
        </p>
        <p>
          Curabitur blandit tempus ardua ridiculus sed magna. Nihil hic munitissimus habendi senatus locus, nihil horum.
        </p>
        <a href="#" class="theme_button topmargin_10">View details</a>
      </div>
      <div class="col-lg-7 col-md-6 text-center before_cover">
        <img src="assets/images/problems.png" alt="">
      </div>
    </div>
  </div>
</section>