
<app-breadcrumbs [navItems]="[
{ title: 'Home', routeUrl: '/' },
{ title: 'Services' },
{ title: 'Comercial' },
{ title: 'Janitorial Services', active: true }]">
</app-breadcrumbs>

<section class="ls ms section_padding_40 table_section">
  <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 [innerHTML]="'commercial.janitorial.title' | translate"></h2>
                <p> <a [routerLink]="['/contactus/get-quote', 4]" class="theme_button color1 topmargin_15">get quote now</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"><img src="assets/images/services/janitorial.jpg"/></div>
            <p class="col-md-10" [innerHTML]="'commercial.janitorial.desc' | translate"></p>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                    <h4 [innerHTML]="'commercial.janitorial.qc_title' | translate"></h4>
                    <div [innerHTML]="'commercial.janitorial.qc_list' | translate"></div>
                    <br>
                    <h4 [innerHTML]="'commercial.janitorial.services_header' | translate"></h4>
                    <div [innerHTML]="'commercial.janitorial.services_list' | translate"></div>
            </div>
        </div>
  </div>
