ul{
    list-style-type: none;

    li{
        padding: 10px;
        color: #3c3c3c;
    }

    &.zipcodes{
        li{
            padding: 3px;
        }
    }
}

h4{
    text-align: center;
}

.services{
    margin-bottom: 20px;
}