ul{
    list-style-type: none;

    li{
        padding: 10px;
        color: #3c3c3c;
    }

    &.zipcodes{
        li{
            padding: 3px;
        }
    }
}

h4{
    text-align: center;
}

.services{
    margin-bottom: 20px;
}

form{
    &.contact-form{
        .form-group{
            label{
                font-size: 11px;
            }

            .form-control{
                padding-left:8px;
            }

            &.has-error{
                .form-control{
                    border: solid 1px red;
                }

                .error-group{
                    display: block;
                    small{
                        color: red;
                    }
                }
            }
        }

        button{
            &.disabled{
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }
}