<app-breadcrumbs [navItems]="[
{ title: 'Home', routeUrl: '/' },
{ title: 'Contact Us' },
{ title: 'Get Quote', active: true }]">
</app-breadcrumbs>

<section class="section_padding_40 ls ms muted_section image-background">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-sm-12 text-center">
        <h2 [innerHTML]="'contactus.quote.title' | translate"></h2>
        <p [innerHTML]="'contactus.quote.desc' | translate"></p>
      </div>
    </div>
    <div class="row">
      <div class="services col-sm-12">
        <ul *ngIf="services" class="row">
          <li *ngFor="let service of services" class="col-md-3 col-sm-6">
              <div class="pretty p-switch p-fill">
                  <input type="checkbox" name="switch1" [checked]="isServiceSelected(service.id)" (change)="toogleChanged(service.id)"/>
                  <div class="state p-success">
                      <label>{{service.name}}</label>
                  </div>
              </div>
          </li>
        </ul>
      </div>

      <div class="col-md-7">
        <form #quoteForm="ngForm" class="contact-form columns_padding_10 row to_animate animated fadeInUp">
          <div class="col-sm-12 form-group"  [ngClass]="{'has-error': fullname.invalid && (fullname.dirty || fullname.touched) }">
            <p class="contact-form-name">
              <label for="name">Full Name<span class="required">*</span></label>
              <input [(ngModel)]="contact.fullname" #fullname="ngModel" required type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control"
                placeholder="{{'contactus.quote.form_fullname' | translate}}">
                <span *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="error-group">
                    <small *ngIf="fullname.errors.required">This field es required</small>
                </span>
            </p>
          </div>
          <div class="col-sm-8 form-group" [ngClass]="{'has-error': street.invalid && (street.dirty || street.touched) }">
            <p class="contact-form-street">
              <label for="street">Street<span class="required">*</span></label>
              <input [(ngModel)]="contact.street" #street="ngModel" required  type="text" required aria-required="true" size="30" value="" name="street" id="street" class="form-control"
                placeholder="{{'contactus.quote.form_street' | translate}}">
                <span *ngIf="street.invalid && (street.dirty || street.touched)" class="error-group">
                    <small *ngIf="street.errors.required">This field es required</small>
                </span>
            </p>
          </div>
          <div class="col-sm-4 form-group">
            <p class="contact-form-suite">
              <label for="suite">Apt/Suite</label>
              <input [(ngModel)]="contact.suite" #suite type="text" required aria-required="true" size="30" value="" name="suite" id="suite" class="form-control"
                placeholder="{{'contactus.quote.form_suite' | translate}}">
                <span *ngIf="suite.invalid && (suite.dirty || suite.touched)" class="error-group">
                    
                </span>
            </p>
          </div>
          <div class="col-sm-8 form-group" [ngClass]="{'has-error': city.invalid && (city.dirty || city.touched) }">
            <p class="contact-form-city">
              <label for="city">City<span class="required">*</span></label>
              <input [(ngModel)]="contact.city" #city="ngModel" required type="text" required aria-required="true" size="30" value="" name="city" id="city" class="form-control"
                placeholder="{{'contactus.quote.form_city' | translate}}">
                <span *ngIf="city.invalid && (city.dirty || city.touched)" class="error-group">
                    <small *ngIf="city.errors.required">This field es required</small>
                </span>
            </p>
          </div>
          <div class="col-sm-4 form-group" [ngClass]="{'has-error': zipcode.invalid && (zipcode.dirty || zipcode.touched) }">
            <p class="contact-form-zip">
              <label for="zip">Zip Code<span class="required">*</span></label>
              <input [(ngModel)]="contact.zipcode" #zipcode="ngModel" required type="text" aria-required="true" size="30" value="" name="zip" id="zip" class="form-control"
                placeholder="{{'contactus.quote.form_zipcode' | translate}}">
                <span *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched)" class="error-group">
                    <small *ngIf="zipcode.errors.required">This field es required</small>
                </span>
            </p>
          </div>
          <div class="col-sm-6 form-group" [ngClass]="{'has-error': email.invalid && (email.dirty || email.touched) }">
            <p class="contact-form-email">
              <label for="email">Email address<span class="required">*</span></label>
              <input [(ngModel)]="contact.email" #email="ngModel" required type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control"
                placeholder="{{'contactus.quote.form_email' | translate}}" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <span *ngIf="email.invalid && (email.dirty || email.touched)" class="error-group">
                    <small *ngIf="email.errors.required">This field es required</small>
                    <small *ngIf="email.errors.pattern">Invalid email address</small>
                </span>
            </p>
          </div>
          <div class="col-sm-6 form-group" [ngClass]="{'has-error': phone.invalid && (phone.dirty || phone.touched) }">
            <p class="contact-form-phone">
              <label for="phone">Phone<span class="required">*</span></label>
              <input [(ngModel)]="contact.phone"  #phone="ngModel" required type="tel" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control"
                placeholder="{{'contactus.quote.form_phone' | translate}}"  mask="(000) 000-0000">
                <span *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error-group">
                    <small *ngIf="phone.errors.required">This field es required</small>
                </span>
            </p>
          </div>

          <div class="col-sm-12 form-group" [ngClass]="{'has-error': !selectedServices.length && quoteForm.valid }">
            <p class="contact-form-message">
              <label for="message">Comments</label>
              <textarea [(ngModel)]="contact.message" #message aria-required="true" rows="6" cols="45" name="message" id="message" class="form-control"
                placeholder="{{'contactus.quote.form_details' | translate}}"></textarea>
                <span *ngIf="!selectedServices.length && quoteForm.valid" class="error-group">
                    <small>You must enter some description about why you are contacting us</small>
                </span>
            </p>
          </div>

          <div class="col-sm-12">

            <p class="contact-form-submit topmargin_30 bottommargin_0 text-center">
              <button (click)="sendMessageClick()" [ngClass]="{ 'disabled':  quoteForm.invalid }"  type="submit" id="contact_form_submit" name="contact_submit" class="theme_button margin_0 color1">
                Send Message
              </button>
            </p>
          </div>

        </form>
      </div>

      <div class="col-md-5 col-sm-12">
        <app-map></app-map>
        <div>
            <h4>Zip Codes We <strong>Serve</strong></h4>
            <ul class="zipcodes row" *ngIf="zipCodes">
                <li class="col-md-2 col-sm-3 col-xs-4" *ngFor="let zip of zipCodes">{{zip}}</li>
             </ul>
        </div>
      </div>
    </div>
  </div>
</section>