<section class="intro_section page_mainslider ls">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="assets/images/slide01.jpg" alt="">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="slide_description_wrapper">
                <div class="slide_description">
                  <div class="intro-layer" data-animation="slideExpandUp">
                    <p class="small-text light margin_0">Welcome to our website</p>
                    <h1 class="highlight">
                The best cleaning company<br>
                <strong>in the country</strong>
              </h1>
                  </div>
                  <div class="intro-layer" data-animation="slideExpandUp">
                    <p class="light">
                      Morbi fringilla convallis sapien, id pulvinar odio volutpat. Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Non equidem invideo, miror magis posuere velit aliquet. Ut enim ad minim etla pasta.
                    </p>
                    <a href="calculator.html" class="theme_button color1 topmargin_15">service calculator</a>
                  </div>
                </div>
                <!-- eof .slide_description -->
              </div>
              <!-- eof .slide_description_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container -->
      </li>

      <li>
        <img src="assets/images/slide01.jpg" alt="">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="slide_description_wrapper">
                <div class="slide_description">
                  <div class="intro-layer" data-animation="slideExpandUp">
                    <p class="small-text light margin_0">Welcome to our website</p>
                    <h1 class="highlight">
                The best cleaning company<br>
                <strong>in the country</strong>
              </h1>
                  </div>
                  <div class="intro-layer" data-animation="slideExpandUp">
                    <p class="light">
                      Morbi fringilla convallis sapien, id pulvinar odio volutpat. Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Non equidem invideo, miror magis posuere velit aliquet. Ut enim ad minim etla pasta.
                    </p>
                    <a href="calculator.html" class="theme_button color1 topmargin_15">service calculator</a>
                  </div>
                </div>
                <!-- eof .slide_description -->
              </div>
              <!-- eof .slide_description_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container -->
      </li>

      <li>
        <img src="assets/images/slide01.jpg" alt="">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="slide_description_wrapper">
                <div class="slide_description">
                  <div class="intro-layer" data-animation="slideExpandUp">
                    <p class="small-text light margin_0">Welcome to our website</p>
                    <h1 class="highlight">
                The best cleaning company<br>
                <strong>in the country</strong>
              </h1>
                  </div>
                  <div class="intro-layer" data-animation="slideExpandUp">
                    <p class="light">
                      Morbi fringilla convallis sapien, id pulvinar odio volutpat. Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Non equidem invideo, miror magis posuere velit aliquet. Ut enim ad minim etla pasta.
                    </p>
                    <a href="calculator.html" class="theme_button color1 topmargin_15">service calculator</a>
                  </div>
                </div>
                <!-- eof .slide_description -->
              </div>
              <!-- eof .slide_description_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container -->
      </li>

    </ul>
  </div>
  <!-- eof flexslider -->
</section>

