<section class="intro_section page_mainslider ls">
  <div class="flexslider">
    <ul class="slides">
      <li *ngFor="let item of data">
        <img [src]="item.imgUrl" alt="">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="slide_description_wrapper">
                <div class="slide_description">
                  <div class="intro-layer" data-animation="slideExpandUp">
                    <p class="small-text light margin_0">{{item.title}}</p>
                    <h1 class="highlight" [innerHtml]="item.slogan"></h1>
                  </div>
                  <div class="intro-layer" data-animation="slideExpandUp">
                    <p class="light" [innerHtml]="item.desc"></p>
                    <a href="calculator.html" class="theme_button color1 topmargin_15">get quote</a>
                  </div>
                </div>
                <!-- eof .slide_description -->
              </div>
              <!-- eof .slide_description_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container -->
      </li>
    </ul>
  </div>
  <!-- eof flexslider -->
</section>

