<!-- main nav start -->
<nav class="mainmenu_wrapper bordered_items">
  <ul class="mainmenu nav sf-menu">
    <li class="active">
      <a href="index.html">Home</a>
      <ul>
        <li>
          <a href="appointment.html">Services</a>
        </li>
        <li>
          <a href="calculator.html">Gallery</a>
        </li>

        <li>
          <a href="calculator.html">Our Clients</a>
        </li>
        <li>
          <a href="calculator.html">Contact Us</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="appointment.html">Commercial</a>
      <ul>
        <li>
          <a href="appointment.html">Office Cleaning</a>
        </li>
        <li>
          <a href="calculator.html">Floor Cleaning</a>
        </li>
        <li>
          <a href="calculator.html">Pressure Cleaning</a>
        </li>
        <li>
          <a href="calculator.html">High Level Dust Removal</a>
        </li>
        <li>
          <a href="calculator.html">Janitorial Services</a>
        </li>
        <li>
          <a href="calculator.html">Post Construction Cleaning</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="appointment.html">Residential</a>
      <ul>
        <li>
          <a href="appointment.html">House Cleaning</a>
        </li>
        <li>
          <a href="calculator.html">Appartment Cleaning</a>
        </li>
        <li>
          <a href="calculator.html">Move In/Move Out Cleaning</a>
        </li>
        <li>
          <a href="calculator.html">Deep Cleaning</a>
        </li>
        <li>
          <a href="calculator.html">Pressure Cleaning</a>
        </li>
        <li>
          <a href="calculator.html">Post Construction Cleaning</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="appointment.html">Windows</a>
      <ul>
        <li>
          <a href="appointment.html">Windows Cleaning</a>
        </li>
        <li>
          <a href="calculator.html">High Rise Window Cleaning in Brickell and Key Biscayne</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="index.html">Blog</a>
    </li>

  </ul>
</nav>
<!-- eof main nav -->
<span class="toggle_menu"><span></span></span>