

$color-blue: #2491CF ;
$color-green: #05A64E ;

body{

    .nav-tabs > li.active > a, 
    .nav-tabs > li.active > a:hover, 
    .nav-tabs > li.active > a:focus {
        background-color: $color-blue;
    }

    #toTop{
        right: initial;
        left: 0 !important;
        background-color: $color-green;
    }

    .theme_buttons a,
    .theme_button {

        &.color1{
            background-color: $color-blue !important;
        }
    
        &.color2{
            
        }
    
        &.color3{
            background-color: $color-green!important;
        }
    }
}


