<section class="contacts teasers-table" [ngClass]="bgColorClass">
  <div class="container">
    <div class="row">
      <div class="col-md-4 center_bg phone-teaser">
        <div class="teaser media">
          <div class="media-left">
            <a [href]="phoneNumber" class="teaser_icon sprite-icons sprite-phone-main">
            </a>
          </div>
          <div class="media-body">
            <p class="small-text margin_0 grey">Have a question? <br>Want a free estimate?  Call us now</p>
            <h5 class="margin_0 fontsize_25 yantramanav"><a [href]="phoneNumber"><strong>786-444-3947</strong></a></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 center_bg working-hours-teaser">
        <div class="teaser media with_border">
          <div class="media-left">
            <div class="teaser_icon sprite-icons sprite-clock-main">
            </div>
          </div>
          <div class="media-body">
            <p class="small-text margin_0 grey">We are open Monday-Saturday</p>
            <h5 class="margin_0 fontsize_25 yantramanav"><strong>8:00AM - 9:00PM</strong></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 center_bg location-teaser">
        <div class="teaser media">
          <div class="media-left">
            <div class="teaser_icon sprite-icons sprite-pointer-main">
            </div>
          </div>
          <div class="media-body">
            <p class="small-text margin_0 grey">need cleaning? our address</p>
            <h5 class="margin_0 yantramanav fontsize_16"><strong>7235 Coral Way #202, Miami, FL 33155</strong></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>