<!-- main nav start -->
<nav class="mainmenu_wrapper bordered_items">
  <ul class="mainmenu nav sf-menu">
    <li class="active">
      <a [routerLink]="['/']">Home</a>
    </li>

    <li>
      <a href="javascript:void(0)">Services</a>
      <ul>
        <li>
          <a href="javascript:void(0)">Commercial</a>
          <ul>
            <li>
              <a [routerLink]="['/services/commercial/office-cleaning']">Office Cleaning</a>
            </li>
            <li>
              <a [routerLink]="['/services/commercial/floor-cleaning']">Floor Cleaning</a>
            </li>
            <li>
              <a [routerLink]="['/services/commercial/high-level-dust-removal']">High Level Dust Removal</a>
            </li>
            <li>
              <a [routerLink]="['/services/commercial/janitorial-services']">Janitorial Services</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="javascript:void(0)">Residential</a>
          <ul>
            <li>
              <a [routerLink]="['/services/residential/house-cleaning']">House Cleaning</a>
            </li>
            <li>
              <a [routerLink]="['/services/residential/appartment-cleaning']">Appartment Cleaning</a>
            </li>
            <li>
              <a [routerLink]="['/services/residential/movein-moveout-cleaning']">Move In/Move Out Cleaning</a>
            </li>
            <li>
              <a [routerLink]="['/services/residential/deep-cleaning']">Deep Cleaning</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="javascript:void(0)">Windows</a>
          <ul>
            <li>
              <a [routerLink]="['/services/windows/window-cleaning']">Windows Cleaning</a>
            </li>
            <li>
              <a [routerLink]="['/services/windows/high-rise-window-cleaning']">High Rise Window Cleaning in Brickell
                and Key Biscayne</a>
            </li>
          </ul>
        </li>

        <li>
          <a [routerLink]="['/services/pressure-cleaning']">Pressure Cleaning</a>
        </li>
        <li>
          <a [routerLink]="['/services/post-construction-cleaning']">Post Construction Cleaning</a>
        </li>
      </ul>
    </li>

    <li>
      <a [routerLink]="['/']">Blog</a>
    </li>

    <li>
        <a [routerLink]="['/']">Gallery</a>
    </li>

    <li>
      <a [routerLink]="['/contact-us']">Contact Us</a>
      <ul>
        <li>
          <a [routerLink]="['/contact-us']">Get Quote</a>
        </li>
        <li>
          <a [routerLink]="['/contact-us/schedule-cleaning']">Schedule Cleaning</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!-- eof main nav -->
<span class="toggle_menu"><span></span></span>