<!-- main nav start -->
<nav class="mainmenu_wrapper bordered_items">
  <ul class="mainmenu nav sf-menu">
    <!-- <li [ngClass]="{'active': menuIndex === 1}" (click)="selectMenuItem(1)">
      <a [routerLink]="['/']">{{ 'navigation.home' | translate }}</a>
    </li> -->

    <li [ngClass]="{'active': menuIndex === 1}" >
      <a>{{ 'navigation.services_commercial' | translate }}</a>
      <ul>
        <li  (click)="selectMenuItem(1)">
          <a href="/#/services/commercial/office-cleaning">{{ 'navigation.services_commercial_office' | translate }}</a>
        </li>
        <li (click)="selectMenuItem(1)">
          <a href="/#/services/commercial/building-maintenance">{{'navigation.services_commercial_buildingmaintenance' | translate }}</a>
        </li>
        <li (click)="selectMenuItem(1)">
          <a href="/#/services/commercial/grounds-keeping">{{'navigation.services_commercial_groundskeeping' | translate }}</a>
        </li>
      </ul>
    </li>

    <li [ngClass]="{'active': menuIndex === 2}" >
      <a>{{'navigation.services_construction' | translate }}</a>
      <ul>
        <li (click)="selectMenuItem(2)">
          <a href="/#/services/construction/rough-cleaning">{{'navigation.services_construction_rough' | translate }}</a>
        </li>
        <li (click)="selectMenuItem(2)">
          <a href="/#/services/construction/final-cleaning">{{'navigation.services_construction_final' | translate }}</a>
        </li>
        <li (click)="selectMenuItem(2)">
          <a href="/#/services/construction/touch-up-cleaning">{{'navigation.services_construction_touchup' | translate }}</a>
        </li>
      </ul>
    </li>

    <li [ngClass]="{'active': menuIndex === 3 }" >
      <a>{{'navigation.services_floor' | translate }}</a>
      <ul>
        <li (click)="selectMenuItem(3)">
          <a href="/#/services/floor/carpet-cleaning">{{'navigation.services_floor_carpet' | translate }}</a>
        </li>
        <li (click)="selectMenuItem(3)">
          <a href="/#/services/floor/tile-cleaning">{{'navigation.services_floor_tile' | translate }}</a>
        </li>
        <li (click)="selectMenuItem(3)">
          <a href="/#/services/floor/marble-cleaning">{{'navigation.services_floor_marble' | translate }}</a>
        </li>
        <li (click)="selectMenuItem(3)">
          <a href="/#/services/floor/waxing-stripping">{{'navigation.services_floor_waxing' | translate }}</a>
        </li>
      </ul>
    </li>

    <li [ngClass]="{'active': menuIndex === 4 }">
      <a>{{'navigation.services_others' | translate }}</a>
      <ul>
        <li (click)="selectMenuItem(4)">
          <a href="/#/services/our-services/windows-cleaning">{{'navigation.services_others_windows' | translate }}</a>
        </li>
        <li (click)="selectMenuItem(4)">
          <a href="/#/services/our-services/pressure-washing">{{'navigation.services_others_pressure' | translate }}</a>
        </li>
        <li (click)="selectMenuItem(4)">
          <a href="/#/services/our-services/trash-removal">{{'navigation.services_others_trashremoval' | translate }}</a>
        </li>
        <li (click)="selectMenuItem(4)">
          <a href="/#/services/our-services/high-level-dust-removal">{{'navigation.services_others_dustremoval' | translate }}</a>
        </li>
        <li (click)="selectMenuItem(4)">
          <a class="blink" href="/#/services/our-services/desinfecting-services">{{'navigation.services_others_desinfecting' | translate }}</a>
        </li>
      </ul>
    </li>

    <li [ngClass]="{'active': menuIndex === 5}">
      <a>{{'navigation.contactus' | translate }}</a>
      <ul>
        <li (click)="selectMenuItem(5)">
          <a href="/#/contactus">{{'navigation.contactus_quote' | translate }}</a>
        </li>
         <li (click)="selectMenuItem(5)">
          <a href="/#/contactus/employment">{{'navigation.contactus_employment' | translate }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!-- eof main nav -->
<span class="toggle_menu"><span></span></span>
