<footer class="footer ls table_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-3 col-xs-12 nowrap">
        <div class="display_table">
          <a href="./" class="logo logo_image display_table_cell">
            <img src="assets/images/logo.png" alt="">
          </a>
          <div class="logo-meta display_table_cell">
            <h1><strong><span class="highlight2">e</span><span class="highlight3">c</span><span class="highlight">o</span></strong>clean</h1>
            <span>cleaning company</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-12 copyright">
        <span class="small-text">ecoclean - Cleaning Company  © 2016</span>
        <span class="small-text grey darklinks">
    created With
    <img src="assets/images/heart.png" alt="love">
    by <a href="#">mw templates</a>
    </span>
      </div>
      <div class="col-lg-2 col-sm-3 col-xs-12 text-right">
        <span class="inline-block social-block">
    <a href="#" class="social-icon color-icon border-icon rounded-icon soc-facebook grey-border"></a>
    <a href="#" class="social-icon color-icon border-icon rounded-icon soc-twitter grey-border"></a>
    <a href="#" class="social-icon color-icon border-icon rounded-icon soc-google grey-border"></a>
    <a href="#" class="social-icon color-icon border-icon rounded-icon soc-youtube grey-border"></a>
  </span>
      </div>
    </div>
  </div>
</footer>
