<app-breadcrumbs [navItems]="[
  { title: 'Home', routeUrl: '/' },
  { title: 'Services' },
  { title: 'Windows' },
  { title: 'Windows Cleaning', active: true }]">
</app-breadcrumbs>

<section class="ls ms section_padding_40 table_section">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2 [innerHTML]="'windows.window.title' | translate"></h2>
            <p> <a [routerLink]="['/contact-us/get-quote', 6]" class="theme_button color1 topmargin_15">get quote now</a></p>
        </div>
      </div>
      <div class="row">
         <div class="col-md-3"><img src="/assets/images/services/windows-cleaning.jpeg"/></div>
         <p class="col-md-9"[innerHTML]="'windows.window.desc' | translate"></p>
      </div>
  </div>
</section>
