<section class="cs contacts teasers-table">
  <div class="container">
    <div class="row">
      <div class="col-md-4 center_bg phone-teaser">
        <div class="teaser media">
          <div class="media-left">
            <div class="teaser_icon sprite-icons sprite-phone-main">
            </div>
          </div>
          <div class="media-body">
            <p class="small-text margin_0 grey">Have a question? Call us now</p>
            <h5 class="margin_0 fontsize_25 yantramanav"><strong>1-800-300-2121</strong></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 center_bg working-hours-teaser">
        <div class="teaser media with_border">
          <div class="media-left">
            <div class="teaser_icon sprite-icons sprite-clock-main">
            </div>
          </div>
          <div class="media-body">
            <p class="small-text margin_0 grey">We are open Monday-Friday</p>
            <h5 class="margin_0 fontsize_25 yantramanav"><strong>08:00 - 17:00</strong></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 center_bg location-teaser">
        <div class="teaser media">
          <div class="media-left">
            <div class="teaser_icon sprite-icons sprite-pointer-main">
            </div>
          </div>
          <div class="media-body">
            <p class="small-text margin_0 grey">need cleaning? our address</p>
            <h5 class="margin_0 yantramanav fontsize_20"><strong>437 S Olive St, Los Angeles</strong></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>